.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}
.loginimg img{
    width: 40vw;
    height: 100vh;
}
.logo img{
    margin-left: 20rem;
    margin-top: 5rem;
    width: 15vw;
}
.logincontainer{
    width: 25vw;
    height:400px;
    margin-top: 10rem;
    margin-left: 17rem;
    color:rgb(0, 0, 0);
}
button{
    background: black;
    color: white;
}
input{
    width: 250px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}